.overlay {
  background-image: url(/images/background.jpeg);
  background-position: top;
  width: 100%;
  top: 0;
  left: 0;
  position: absolute;
  filter: blur(30px);
  background-size: 110% 180px;
  background-repeat: no-repeat;
  opacity: 0.8;
}
.header {
  padding: 20px;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  box-sizing: border-box;
}
