.text {
  font-family: 'Jost', sans-serif;
  font-size: 14px;
  color: rgba(255, 255, 255, 0.7);
  margin: 10px 0;
}
.title {
  font-family: 'Jost', sans-serif;
  color: white;
  text-transform: uppercase;
  font-size: 14px;
}
