.button {
  width: 200px;
  height: 200px;
  cursor: pointer;
  border-radius: 50%;
  outline: none;
  border: none;
  background-color: transparent;
  padding: 0;
  z-index: 0;
  position: absolute;
}

.shadow {
  width: 100%;
  height: 100%;
  scale: 1.03;
  border-radius: 50%;
  background-color: black;
  cursor: default;
  z-index: 1;
  position: relative;
  filter: drop-shadow(0 0 120px #baac91);
}

@property --r {
  syntax: '<angle>';
  inherits: false;
  initial-value: 0deg;
}

.cone {
  width: 206px;
  height: 206px;
  position: absolute;
  top: -3px;
  left: -3px;
  border-radius: 50%;
  background: conic-gradient(from var(--r), #222 0%, #eee 10%, #222 20%);
  animation: rotating 3s linear infinite;
  z-index: 5;
}

@keyframes rotating {
  0% {
    --r: 0deg;
  }
  100% {
    --r: 360deg;
  }
}
