.image {
  width: 202px;
  height: 202px;
  position: absolute;
  top: -2px;
  left: -2px;
  z-index: 7;
  border-radius: 50%;
  overflow: hidden;
  border: 1px solid transparent;
}
.image img {
  position: absolute;
  object-fit: contain;
  width: 100%;
  top: -50px;
  left: 0;
}
