.button {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  outline: none;
  border: none;
  border-radius: 10px;
  color: white;
  font-family: 'Jost', sans-serif;
  background: linear-gradient(
    to right,
    rgb(239, 161, 4) 0%,
    rgb(122, 56, 245) 96%
  );
  text-transform: uppercase;
  width: 200px;
  height: 42px;
}
