.avatar {
  display: flex;
  position: absolute;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background-image: url(/images/me.png);
  background-color: rgba(0, 0, 0, 0.4);
  background-position: 50% -10px;
  background-size: 140%;
  background-repeat: no-repeat;
  filter: drop-shadow(0px 10px 10px rgba(0, 0, 0, 0.5));
}
