.title {
  font-family: 'Jost', sans-serif;
  color: white;
  text-transform: uppercase;
  font-size: 14px;
}
.skills_box {
  margin-top: 10px;
  display: flex;
  gap: 30px;
  row-gap: 5px;
  flex-wrap: wrap;
  justify-content: center;
}
.skill {
  filter: drop-shadow(0px 0px 0px transparent);
  border-bottom: 3px solid transparent;
  transition: all 0.3s ease-in-out;
  padding-bottom: 3px;
}
.skill:hover {
  opacity: 0.7;
  transform: scale(1.1);
}
.active {
  filter: drop-shadow(0px 0px 10px #fff);
  border-bottom: 3px solid #8a84ff;
}
.skill_title {
  font-family: 'Jost', sans-serif;
  color: #fff;
  font-size: 20px;
}
.buttons {
  display: flex;
  gap: 10px;
  margin-top: 10px;
}
