.container {
  width: 340px;
  height: 100%;
  scroll-snap-align: start;
  display: flex;
  flex-direction: column;
}
.info {
  display: flex;
  flex-direction: column;
  margin: auto;
  position: relative;
  width: calc(100% - 40px);
  height: calc(100% - 200px);
  padding-bottom: 15px;
}
.title {
  font-size: 30px;
  margin-block: 10px;
  color: #fff;
  font-family: 'Jost', sans-serif;
}
.description {
  display: block;
  font-size: 16px;
  color: rgba(255, 255, 255, 0.7);
  font-family: 'Jost', sans-serif;
  margin-block: auto;
  justify-self: center;
}
.npm {
  position: absolute;
  top: 22px;
  right: 0;
}
.link_container {
  width: 100%;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-around;
}
.link {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  transition: opacity 0.2s ease-in-out;
}
.link:hover {
  opacity: 0.7;
}
.link_text {
  color: #fff;
  margin-inline: 10px;
  font-size: 16px;
  font-family: Arial, Helvetica, sans-serif;
}
