.list,
.item {
  margin: 0;
  padding: 0;
}

.link {
  font-family: 'Jost', sans-serif;
  font-size: 20px;
  text-decoration: none;
  display: flex;
  align-items: center;
}
.item.active {
  display: none;
}

.filler {
  flex: 1;
  opacity: 0;
}

.list {
  padding: 25px;
  position: absolute;
  display: flex;
  flex-direction: column;
  top: 60px;
  width: 270px;
  right: 10px;
  height: calc(100% - 70px);
  z-index: 3;
  box-sizing: border-box;
}

.item {
  list-style: none;
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.icon {
  width: 25px;
  height: 25px;
  margin-right: 20px;
}

.text {
  border-radius: 5px;
  width: 200px;
  height: 20px;
  flex: 1;
  color: #fff;
}

.page-link {
  display: flex;
  align-items: center;
  width: 100%;
}
