.title {
  position: absolute;
  top: 110px;
  font-family: 'Jost', sans-serif;
  color: white;
  font-weight: 400;
}
.subtitle {
  position: absolute;
  top: 160px;
  font-family: 'Jost', sans-serif;
  text-transform: uppercase;
  font-size: 14px;
  opacity: 0.8;
  font-weight: 400;
  color: rgba(255, 255, 255, 0.7);
}
