.header {
  width: 100%;
  height: 50px;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.9);
  padding-inline: 30px;
  justify-content: space-between;
  box-sizing: border-box;
}
.pages_list {
  display: flex;
  gap: 30px;
}
.logo {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 1px solid white;
  overflow: hidden;
  transition: all 0.3s ease;
  cursor: pointer;
}
.logo:hover {
  opacity: 0.7;
}
.image_container {
  width: 25px;
  height: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  overflow: hidden;
  border-radius: 50%;
  transition: all 0.3s ease;
  border: 1px solid white;
  box-sizing: border-box;
}
.image_container:hover {
  opacity: 0.7;
}
.lang_list {
  display: flex;
  gap: 10px;
}
.lang_button.active {
  display: none;
}
